## 개요
파이썬 환경에서 공간데이터의 좌표계를 확인하고, 다른 좌표계로 변환해 봅시다.

---

## 사용할 패키지 준비

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

---

## 사용할 데이터 준비
앞서 사용한 행정동 데이터를 사용합니다.

In [20]:
shp_path = 'data/shp/NGII_CDM_행정경계(시도)/Z_NGII_N3A_G0010000.shp'
sido_gdf = gpd.read_file(shp_path, ********='cp949')

In [22]:
sido_gdf.head()

,UFID,BJCD,NAME,DIVI,SCLS,FMTA,geometry
0,ARB0100000000001E,5000000000,제주특별자치도,HJD004,None,None,"MULTIPOLYGON (((932629.315 1508520.449, 932629..."
1,ARB0100000000002F,4800000000,경상남도,HJD004,None,None,"MULTIPOLYGON (((1049231.579 1666542.963, 10492..."
2,ARB0100000000003G,4700000000,경상북도,HJD004,None,None,"MULTIPOLYGON (((1163496.075 1906689.767, 11635..."
3,ARB0100000000004H,4600000000,전라남도,HJD004,None,None,"MULTIPOLYGON (((898759.456 1670482.743, 898760..."
4,ARB0100000000005I,4500000000,전라북도,HJD004,None,None,"MULTIPOLYGON (((953538.952 1794637.930, 953543..."

## 좌표계를 확인해 봅시다

In [3]:
sido_gdf.***

<Derived Projected CRS: EPSG:5179>
Name: Korea 2000 / Unified CS
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Republic of Korea (South Korea) - onshore and offshore.
- bounds: (122.71, 28.6, 134.28, 40.27)
Coordinate Operation:
- name: Korea Unified Belt
- method: Transverse Mercator
Datum: Geocentric datum of Korea
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

## 좌표계 정보가 없는 공간데이터에 좌표계 정보를 부여해 주려면? (좌표계 정의)
#### 힌트  
European Petroleum Survey Group의 약자   
https://epsg.org/home.html

In [ ]:
shp_path2 = 'data/shp/sido_not_prj/Z_NGII_N3A_G0010000.shp'
sido_gdf2 = gpd.read_file(shp_path2)

In [12]:
sido_gdf2.crs = "****:5179"

In [13]:
sido_gdf2.crs

<Derived Projected CRS: EPSG:5179>
Name: Korea 2000 / Unified CS
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Republic of Korea (South Korea) - onshore and offshore.
- bounds: (122.71, 28.6, 134.28, 40.27)
Coordinate Operation:
- name: Korea Unified Belt
- method: Transverse Mercator
Datum: Geocentric datum of Korea
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

## 원하는 다른 좌표계로 변환하려면?

In [14]:
sido_gdf4326 = sido_gdf2.**_***(epsg=4326) 
sido_gdf4326.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [15]:
sido_gdf4326.head()

,UFID,BJCD,NAME,DIVI,SCLS,FMTA,geometry
0,ARB0100000000001E,5000000000,Á¦ÁÖÆ¯º°ÀÚÄ¡µµ,HJD004,None,None,"MULTIPOLYGON (((126.77414 33.56657, 126.77414 ..."
1,ARB0100000000002F,4800000000,°æ»ó³²µµ,HJD004,None,None,"MULTIPOLYGON (((128.03946 34.99262, 128.03946 ..."
2,ARB0100000000003G,4700000000,°æ»óºÏµµ,HJD004,None,None,"MULTIPOLYGON (((129.34094 37.14464, 129.34099 ..."
3,ARB0100000000004H,4600000000,Àü¶ó³²µµ,HJD004,None,None,"MULTIPOLYGON (((126.39023 35.02427, 126.39024 ..."
4,ARB0100000000005I,4500000000,Àü¶óºÏµµ,HJD004,None,None,"MULTIPOLYGON (((126.98353 36.14769, 126.98359 ..."

---

### 수고 많으셨습니다!!!